.navListDiv {
    padding: 2.1rem 1rem;
}

.headingTitle {
    padding: 0 1.5rem;
}

.listSetting {
    padding: 1rem;
}

.listS {
    padding: .8rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.shfhj {
    padding: 12px 1rem;
}

.navListDivEdit {
    padding: 2.1rem 5rem;
}

.profileSecEdit {
    padding: 1rem 1rem;
}

.headingTitleEdit {
    padding-bottom: 1.5rem;
}

.profileSecEdit {
    margin: 1rem 0;
}

.sjfhkjfh {
    margin-top: 1.5rem;
}

.websitesjdh input,
textarea {
    padding: 10px 12px;
}

.nameTitleWeb {
    margin-bottom: .6rem;
}

.websitesjdh select {
    padding: 10px 12px;
}

.forButtonEdit {
    margin-top: 2rem;
}

.paddingNewhsdgh {
    padding: 1rem 1rem;
}

.likeShowAndDo {
    padding: .8rem 1rem;
}

.marginBottom {
    margin-bottom: 1rem;
}

.no-scrollbar-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.no-scrollbar-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}




/* swiper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}



.paddingLER {
    padding: 0 .8rem;
}

.paddinInputStory {
    padding: 0 1.2rem;
}



.itemCenterAllhild {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginLeftP{
    margin-left: .6rem;
}

.forFollow{
    background-color: #0095F6 !important;
    color: #fff;
}

.forFollow:hover{
    background-color: hsl(213.85deg 89.34% 52.16%) !important; 
}

.paddingLeftRight{
    padding: 0 1rem;
}

.marginLeftRight1rem{
    margin-left: 1rem;
    margin-right: .7rem;
}

.marginTop1rem{
    margin: .5rem 0;
}

.paddingleftRight{
    padding: 0 1rem;
}

.boxShadowAI{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
